{% extends 'base.html.twig' %}

{% block title %} {{ thread.id }} {% endblock %}

{% block body %}

<div class="thread">

<div class='titre-back'> 
<a id='back' href="{{ path('app_home') }}">retour</a>
{{ thread.title }}
</div>

<div class='corps'>{{ thread.body }}</div>

{# <a id='edit-page-path' href="{{ path('app_thread_edit', {id: thread.id}) }} ">modifier mon thread</a> #}

</div>

<style>

.thread {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: 2px solid #202020;
  border-radius: 20px;
  margin: 20px;
}

.titre-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;
  font-size: 25px;
  text-transform: uppercase;
}

.corps {
  /* border: 1px solid #000; */
  border
  margin: 20px;
  padding: 20px;
  font-size: 18px;
  margin: 50px 150px; 
  line-height: 2;

}

#back {
  text-decoration: none;
  color: skyblue;
  border: 2px white solid;
  background-color: black;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  transition-duration: 0.2s;
}

#edit-page-path {
  text-decoration: none;
  color: skyblue;
  border: 2px white solid;
  background-color: black;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  transition-duration: 0.2s;
}

#edit-page-path:hover {
  text-decoration: none;
  color: skyblue;
  border: 2px white solid;
  background-color: black;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  transition-duration: 0.2s;
}

</style>
{% endblock %}
