{% extends 'base.html.twig' %}

        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('styles/student.css')}}"/>
        {% endblock %}

{% block title %}Modification de votre thread {id}{% endblock %}

{% block body %}
  <h1>page du formulaire de modification du threadu {{ thread.title }}</h1>

{{ form_start(form) }}
{{ form_row(form.title) }}
{# {{ form_errors(form.title) }} #}
{# {{ form_label(form.title) }} #}
{# {{ form_widget(form.title) }} #}
{# {{ form_errors(form.title) }} #}

{{ form_row(form.description) }}
{# {{ form_errors(form.body) }} #}
{# {{ form_label(form.body) }} #}
{# {{ form_widget(form.body) }} #}
{# {{ form_help(form.body) }} #}

{{ form_row(form.body) }}
{# {{ form_errors(form.description) }} #}
{# {{ form_label(form.description) }} #}
{# {{ form_widget(form.description) }} #}
{# {{ form_help(form.description) }} #}

{# mettre un select pour les catégories #}

<button type="submit">sauvegarder et modifier mon thread</button>

{{ form_end(form) }}

<style>

h1 {
  text-align: center;
}

form {
  text-align: center;
}

</style>


{% endblock %}