{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<h1>Page d'accueil de ThreadPlon !</h1>

<h3>Avec la liste des threads ajoutés par les utilisateurs</h3>

<div class="thread">

<ul>
    {% for thread in threads %}
        <li>
        <p class='start-thread'>id du post: {{ thread.id }} </p>
        {# <p> {{ app.user.username}} </p>  #} {# METTRE ICI LE NOM DU USER DU POST #}
           <a href="{{ path('app_thread_details', {'id': thread.id}) }}">{{ thread.title }}</a>
           <p>{{ thread.description }}</p>
           <p>publié le :  {{ "now"|date("m/d/Y") }} à {{ "now"|date("h:i") }}</p>
           <hr>
        </li>
    {% endfor %} 
</ul>

</div>

<style>

h1, 
h3 {
    text-align: center;
}

h3 {
    border-bottom: 2px #000 solid;
    margin: 0px 300px;
    padding-bottom: 50px;
}

    .thread {
        /* background-color: #fff; */
    }

    .start-thread {
        margin-top: 50px;
    }

    ul{
        margin: 0px 300px;
        list-style: none;
    }

    a{
        text-decoration: none;
    }

</style>

{% endblock %}
