<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">ThreadPlon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            actions
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_thread') }}">créer un thread</a></li>
            {# <li><a class="dropdown-item" href="{{ path('app_user') }}">mon profil</a></li> #}
            <li><a class="dropdown-item" href="#">mon profil (non fonctionnel)</a></li>
            {# <li><a class="dropdown-item" href="{{ path('app_settings') }}">paramètres</a></li> #}
            <li><a class="dropdown-item" href="#">paramètres (non fonctionnel)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_logout') }}">me déconnecter</a></li>
          </ul>
        </li>
      </ul>
              {# <p class='text-user'>connecté en tant que : {{ user.name }}, {{ user.surname }}</p> #}
              <p class='text-user'>connecté en tant que : Prénom, NOM</p>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<style>

.text-user {
  margin: 15px 50px;
}

</style>